<nav class="navbar navbar-default navbar-custom2 navbar-fixed-top">
               <button type="button" id="navbarToggle" class="glyph-pad navbar-toggle collapsed btn-lg" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

                  <span class="fa fa-bars" aria-hidden="true" style="color:black;"></span>

                  </button>
              <div class="container">
                  <div class="navbar-header navbar-titles">
                      <a href="/" class="navbar-brand hidden-xs"><span><img src="./assets/logo.png" width="50px"> Computer Science &amp; Engineering</span></a>
                  </div>
                   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav navbar-right">
                          <li id="home" class="text-center"><a scrollTo="target" routerLink="/">HOME</a></li>
                          <li id="about-us" class="text-center"><a scrollTo="target" routerLink="/about-us">ABOUT US</a></li>
                          <li id="lab" class="text-center"><a scrollTo="target" routerLink="/laboratory">LABORATORY</a></li>
                          <li id="faculty" class="text-center"><a scrollTo="target" routerLink="/faculty">FACULTY</a></li>
                          <li id="students" class="text-center"><a scrollTo="target" routerLink="/students">STUDENTS</a></li>
                          <li id="gallery" class="text-center"><a scrollTo="target" routerLink="/gallery">GALLERY</a></li>
                          <li id="contact-us" class="text-center"><a scrollTo="target" routerLink="/contact-us">CONTACT US</a></li>

                      </ul>
                  </div>
              </div>
          </nav>
<header id="about-back">
  <div class="container">
  <div class="jumbotron">
  <h1>About Us</h1>
  </div>
</div>
</header>
<section>
  <article id="firstAbout">
    <div class="container">

      <div class="row">
        <div class="col-md-6">
            <h1 class="margsBottom">Our Mission</h1>
            <h4 class="text-muted"><b>Excellence:</b> Achieve academic excellence through innovative teaching and continuous improvement thereby promoting research and development in the field of Computer Science and Engineering.

<br><br><b>Adaptability:</b> Inculcate team work, ethical practices and build necessary skill set in students through career development training programmers to help them adapt to the ever changing market demands.

<br><br><b>Service:</b> Enrich students with moral values, discipline and high integrity to serve the society and work towards its betterment.
</h4>    </div>
        <div class="col-md-6">
            <img src="./assets/mission-big.png"  class="img-responsive margs-20 fix">
        </div>
      </div>
      <div class="row margs-100">
        <div class="col-md-6 ">
            <h1 class="margsBottom">Our Vision</h1>
            <h4 class="text-muted">The Department of Computer Science and Engineering believes in providing quality education to students who will excel in design and development of hardware and software integrated devices through continuous learning and research activities, ethically meeting the social needs.</h4>
        </div>
        <div class="col-md-6">
            <img src="./assets/vision-big.png"  class="img-responsive margs-20 fix">
        </div>
      </div>
      <div class="row margs-100">
        <div class="col-md-6">
            <h1 class="margsBottom">Program Educational Objectives (PEOs)</h1>
            <h4 class="text-muted"><b> PEO1 Profession:</b> Graduates will purse higher education and research, or have a successful career in industries associated with Computer Science and Engineering, or as entrepreneurs.

<br><br><b>PEO2 Technophile:</b> Graduates will have the ability and attitude to adapt to emerging technological changes.</h4>    </div>
        <div class="col-md-6">
            <img src="./assets/objectives-big.png"  class="img-responsive margs-20 fix">
        </div>
      </div>
      <div class="row margs-100">
        <div class="col-md-12">
            <h1 class="margsBottom">Program Outcomes (POs)</h1>
            <h4 class="text-muted">
<b>PO1   Engineering knowledge:</b> Apply the knowledge of mathematics, science, engineering fundamentals, and an engineering specialization to the solution of complex engineering problems.
<br><br>
<b>PO2   Problem analysis:</b> Identify, formulate, review research literature, and analyze complex engineering problems reaching substantiated conclusions using first principles of mathematics, natural sciences, and engineering sciences.
<br><br>
<b>PO3  Design/development of solutions:</b> Design solutions for complex engineering problems and design system components or processes that meet the specified needs with appropriate consideration for the public health and safety, and the cultural, Societal and environmental considerations.
<br><br>
<b>PO4   Conduct investigations of complex problems:</b> Use research-based knowledge and research methods including design of experiments, analysis and interpretation of data, and synthesis of the information to provide valid conclusions.
<br><br>
<b>PO5   Modern tool usage:</b> Create, select, and apply appropriate techniques, resources, and modern engineering and IT tools including Prediction and modeling to complex engineering activities with an understanding of the limitations.
<br><br>
<b>PO6  The engineer and society:</b> Apply reasoning informed by the contextual knowledge to assess societal, health, safety, legal and Cultural issues and the consequent responsibilities relevant to the professional engineering practice.
<br><br>
<b>PO7  Environment and sustainability:</b> Understand the impact of the professional engineering solutions in societal and environmental contexts, and demonstrate the knowledge of, and need for sustainable development.
<br><br>
<b>PO8  Ethics:</b> Apply ethical principles and commit to professional ethics and responsibilities and norms of the engineering practice.
<br><br>
<b>PO9   Individual and team work: </b>Function effectively as an individual, and as a member or leader in diverse teams, and in multidisciplinary settings.
<br><br>
<b>PO10 Communication:</b> Communicate effectively on complex engineering activities with the engineering community and with society at large, such as, being able to comprehend and write effective reports and design documentation, make effective Presentations, and give and receive clear instructions.
<br><br>
<b>PO11 Project management and finance:</b> Demonstrate knowledge and understanding of the engineering and management principles and apply these to one’s own work, as a member and leader in a team, to manage projects and in multidisciplinary environments.
<br><br>
<b>PO12 Life-long learning: </b>Recognize the need for, and have the preparation and ability to engage in independent and life-long learning in the broadest context of technological change.
 </h4>
          </div>
      </div>
      <div class="row margs-100">
        <div class="col-md-12">
            <h1 class="margsBottom">Program Specific Outcomes (PSOs)</h1>
            <h4 class="text-muted">
<b>PSO1 Efficacy:</b> Ability to apply mathematical methodologies and foundational concepts of Computer Science and Engineering to solve computational tasks, model the real world problem using appropriate data structure and algorithm with suitable programming languages.
<br><br>
<b>PSO2 Potentiality to design:</b> Analyze, design and evaluate a computer based system by applying software engineering principles and practices for developing quality software for scientific and business applications.
<br><br>
<b>PSO3 Technical Expertise:</b> Adapt to modern engineering technologies and thereby build robust, reliable, maintainable, scalable, innovative and efficient computing systems by considering social, environmental, economic, and security constraints.
 </h4>
          </div>
      </div>
    </div>
  </article>
</section>
