<nav class="navbar navbar-default navbar-custom2 navbar-fixed-top">
               <button type="button" id="navbarToggle" class="glyph-pad navbar-toggle collapsed btn-lg" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

                  <span class="fa fa-bars" aria-hidden="true" style="color:black;"></span>

                  </button>
              <div class="container">
                  <div class="navbar-header navbar-titles">
                      <a href="/" class="navbar-brand hidden-xs"><span><img src="./assets/logo.png" width="70px"> Computer Science &amp; Engineering</span></a>
                      <a href="/" class="navbar-brand hidden-sm hidden-md hidden-lg"><span><img class="logo" src="./assets/logo.png" width="50px"> Computer Science</span></a>
                  </div>
                   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav navbar-right">
                          <li id="home" class="text-center"><a scrollTo="target" routerLink="/">HOME</a></li>
                          <li id="about-us" class="text-center"><a scrollTo="target" routerLink="/about-us">ABOUT US</a></li>
                          <li id="lab" class="text-center"><a scrollTo="target" routerLink="/laboratory">LABORATORY</a></li>
                          <li id="faculty" class="text-center"><a scrollTo="target" routerLink="/faculty">FACULTY</a></li>
                          <li id="students" class="text-center"><a scrollTo="target" routerLink="/students">STUDENTS</a></li>
                          <li id="gallery" class="text-center"><a scrollTo="target" routerLink="/gallery">GALLERY</a></li>
                          <li id="contact-us" class="text-center"><a scrollTo="target" routerLink="/contact-us">CONTACT US</a></li>

                      </ul>
                  </div>
              </div>
          </nav>
          <header id="faculty-back">
            <div class="container">
            <div class="jumbotron">
            <h1>Faculty</h1>
            </div>
          </div>
          </header>
  <section class="container text-center" id="faculty-section">
    <article class="margin-50" >
      <div class="row" >
        <div class="col-md-3 col-sm-3 col-xs-6" *ngFor="let f of faculty" (click)="getStaff(f.id)">
          <a data-toggle="modal" data-target="#modal-open">
            <img src="https://kernalsjce17.000webhostapp.com/assets/images/{{f.photopath}}" class="img-responsive img-circle box-center"/>
          </a>
            <h4>{{f?.name}}</h4>
            <h6 class="text-muted">{{f?.designation}}</h6>
        </div>
      </div>
    </article>
  </section>
  <div id="modal-open" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">Faculty Details</h3>
        </div>
        <div class="modal-body text-center">
          <div class="row margin-modal-20 text-center">
            <div class="col-md-4">
              <img src="https://kernalsjce17.000webhostapp.com/assets/images/{{facultyDetails.photopath}}" class="image-responsive img-rounded"/>
            </div>
            <div class="col-md-8">
              <h2>{{facultyDetails.name}}</h2>
              <h5 class="text-muted">{{facultyDetails.designation}}<br>{{facultyDetails.qualification}}</h5>
              <div class="margin-modal-20">

              <p><b>Gender:</b> {{facultyDetails.gender}}</p>
              <p><b>Date of Birth:</b> {{facultyDetails.dob}}</p>
              <p><b>Date of Joining:</b> {{facultyDetails.doj}}</p>
            </div>
              <a class="btn btn-info" id="more-details" href="https://kernalsjce17.000webhostapp.com/assets/pdf/{{facultyDetails.pdfpath}}" target="_blank">More Details</a>
            </div>

        </div>
        <!--<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>-->
      </div>

    </div>
  </div>
