<nav class="navbar navbar-default navbar-custom2 navbar-fixed-top">
               <button type="button" id="navbarToggle" class="glyph-pad navbar-toggle collapsed btn-lg" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

                  <span class="fa fa-bars" aria-hidden="true" style="color:black;"></span>

                  </button>
              <div class="container">
                  <div class="navbar-header navbar-titles">
                      <a href="/" class="navbar-brand hidden-xs"><span><img src="./assets/logo.png" width="70px"> Computer Science &amp; Engineering</span></a>
                      <a href="/" class="navbar-brand hidden-sm hidden-md hidden-lg"><span><img class="logo" src="./assets/logo.png" width="50px"> Computer Science</span></a>
                  </div>
                   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav navbar-right">
                          <li id="home" class="text-center"><a scrollTo="target" routerLink="/">HOME</a></li>
                          <li id="about-us" class="text-center"><a scrollTo="target" routerLink="/about-us">ABOUT US</a></li>
                          <li id="lab" class="text-center"><a scrollTo="target" routerLink="/laboratory">LABORATORY</a></li>
                          <li id="faculty" class="text-center"><a scrollTo="target" routerLink="/faculty">FACULTY</a></li>
                          <li id="students" class="text-center"><a scrollTo="target" routerLink="/students">ACADEMICS</a></li>
                          <li id="gallery" class="text-center"><a scrollTo="target" routerLink="/gallery">GALLERY</a></li>
                          <li id="contact-us" class="text-center"><a scrollTo="target" routerLink="/contact-us">CONTACT US</a></li>

                      </ul>
                  </div>
              </div>
          </nav>
          <header id="faculty-back">
            <div class="container">
            <div class="jumbotron">
            <h1>Faculty</h1>
            </div>
          </div>
          </header>
  <section class="container text-center" id="faculty-section">
    <article class="margin-50" >
      <section class="row" >
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open1">
            <img src="./assets/01.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Dr. A. CHANDRA SEKAR</h4>
            <h6 class="text-muted">Professor &amp; Head</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open2">
            <img src="./assets/02.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Dr. P. MUTHUCHELVI</h4>
            <h6 class="text-muted">Professor</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open3">
            <img src="./assets/03.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Dr. G. MARIAKALAVATHY</h4>
            <h6 class="text-muted">Professor</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open4">
            <img src="./assets/04.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Dr. G. MURUGESAN</h4>
            <h6 class="text-muted">Professor</h6>
        </div>
      </section>
      <section class="row" >
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open5">
            <img src="./assets/05.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Dr. D. ROSY SALOMI VICTORIA</h4>
            <h6 class="text-muted">Associate Professor</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open6">
            <img src="./assets/06.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Dr. R. PUGALENTHI</h4>
            <h6 class="text-muted">Associate Professor</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open7">
            <img src="./assets/07.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Dr. S. JOTHI</h4>
            <h6 class="text-muted">Associate Professor</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open8">
            <img src="./assets/08.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Dr. J.T. ANITA ROSE</h4>
            <h6 class="text-muted">Associate Professor</h6>
        </div>
      </section>
      <section class="row" >
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open9">
            <img src="./assets/09.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Dr. F SANGEETHA FRANCELIN VINNARASI</h4>
            <h6 class="text-muted">Associate Professor</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open10">
            <img src="./assets/10.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Dr. R. HEMALATHA</h4>
            <h6 class="text-muted">Associate Professor</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open11">
            <img src="./assets/11.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Dr.B. DIWAN</h4>
            <h6 class="text-muted">Associate Professor</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open13">
            <img src="./assets/13.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Dr. JESLINE</h4>
            <h6 class="text-muted">Associate Professor</h6>
        </div>
      </section>
      <section class="row" >

        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open14">
            <img src="./assets/14.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Dr. A. SHERYL OLIVER</h4>
            <h6 class="text-muted">Associate Professor</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open15">
            <img src="./assets/15.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Dr. M. ANURADHA</h4>
            <h6 class="text-muted">Associate Professor</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open16">
            <img src="./assets/16.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Dr. J. JEAN JUSTUS</h4>
            <h6 class="text-muted">Associate Professor</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open17">
            <img src="./assets/17.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Dr.M. P RAJAKUMAR</h4>
            <h6 class="text-muted">Associate Professor</h6>
        </div>
      </section>
      <section class="row" >

        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open18">
            <img src="./assets/18.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Dr.V. ANJANA DEVI</h4>
            <h6 class="text-muted">Associate Professor</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open19">
            <img src="./assets/19.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Dr. J. RAMYA</h4>
            <h6 class="text-muted">Associate Professor</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open20">
            <img src="./assets/20.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Dr. N. ANGEL</h4>
            <h6 class="text-muted">Associate Professor</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
            <a data-toggle="modal" data-target="#modal-open12">
              <img src="./assets/12.png" class="img-responsive img-circle box-center"/>
            </a>
              <h4>Ms. K. VIJAYALAKSHMI</h4>
              <h6 class="text-muted">Assistant Professor</h6>
          </div>
      </section>
      <section class="row" >

        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open21">
            <img src="./assets/21.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Ms.D. MANOHARI</h4>
            <h6 class="text-muted">Assistant Professor</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open22">
            <img src="./assets/22.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Ms.M. SHALINI</h4>
            <h6 class="text-muted">Assistant Professor</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open23">
            <img src="./assets/23.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Ms.A. AJOE SWEETLIN JEENA</h4>
            <h6 class="text-muted">Assistant Professor</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open24">
            <img src="./assets/24.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Ms.P.N. JEIPRATHA</h4>
            <h6 class="text-muted">Assistant Professor</h6>
        </div>
      </section>
      <section class="row" >
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open25">
            <img src="./assets/25.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Mr.K. BALAJI</h4>
            <h6 class="text-muted">Assistant Professor</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open26">
            <img src="./assets/26.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Ms.J.M. KAVITHA</h4>
            <h6 class="text-muted">Assistant Professor</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open27">
            <img src="./assets/27.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Mr.N. MANIKANDAN</h4>
            <h6 class="text-muted">Assistant Professor</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open28">
            <img src="./assets/28.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Mr.A. PRABHU CHAKKARAVARTHY</h4>
            <h6 class="text-muted">Assistant Professor</h6>
        </div>
      </section>
      <section class="row" >
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open29">
            <img src="./assets/29.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Mr.P. VARUN</h4>
            <h6 class="text-muted">Assistant Professor</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open30">
            <img src="./assets/30.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Ms.S. SHANTHINI</h4>
            <h6 class="text-muted">Assistant Professor</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open31">
            <img src="./assets/31.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Mr.P. NAVEEN</h4>
            <h6 class="text-muted">Assistant Professor</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open32">
            <img src="./assets/32.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Ms.E. NIVEDHA</h4>
            <h6 class="text-muted">Assistant Professor</h6>
        </div>
      </section>
      <section class="row" >
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open33">
            <img src="./assets/33.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Ms.S. MONICA</h4>
            <h6 class="text-muted">Assistant Professor</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open34">
            <img src="./assets/34.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Ms.G. SARANYA</h4>
            <h6 class="text-muted">Assistant Professor</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open35">
            <img src="./assets/35.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Ms.K. SHARMILA</h4>
            <h6 class="text-muted">Assistant Professor</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open36">
            <img src="./assets/36.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Mr.R. RANJITH</h4>
            <h6 class="text-muted">Assistant Professor</h6>
        </div>
      </section>
      <section class="row" >
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open37">
            <img src="./assets/37.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Mr.S. VINU</h4>
            <h6 class="text-muted">Assistant Professor</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open38">
            <img src="./assets/38.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Ms.K. SUDHA</h4>
            <h6 class="text-muted">Assistant Professor</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open39">
            <img src="./assets/39.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Name</h4>
            <h6 class="text-muted">HOD</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open40">
            <img src="./assets/40.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Name</h4>
            <h6 class="text-muted">HOD</h6>
        </div>
      </section>
      <section class="row" >
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open41">
            <img src="./assets/41.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Name</h4>
            <h6 class="text-muted">HOD</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open42">
            <img src="./assets/42.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Name</h4>
            <h6 class="text-muted">HOD</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open43">
            <img src="./assets/43.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Name</h4>
            <h6 class="text-muted">HOD</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open44">
            <img src="./assets/44.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Name</h4>
            <h6 class="text-muted">HOD</h6>
        </div>
      </section>
      <section class="row">
        <div class="col-md-3 col-sm-3 col-xs-6"  >
          <a data-toggle="modal" data-target="#modal-open45">
            <img src="./assets/45.png" class="img-responsive img-circle box-center"/>
          </a>
            <h4>Name</h4>
            <h6 class="text-muted">HOD</h6>
        </div>
      </section>
    </article>
  </section>

  <section id="modal-open1" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content 1-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">Faculty Details</h3>
        </div>
        <div class="modal-body text-center">
          <div class="row margin-modal-20 text-center">
            <div class="col-md-4">
              <img src="./assets/01.png" class="img-responsive img-rounded center-modal-photo"/>
            </div>
            <div class="col-md-8">
              <h2>Dr. A. CHANDRA SEKAR</h2>
              <h5 class="text-muted">Professor &amp; Head<br>M.E., Ph. D</h5>
              <div class="margin-modal-20">

              <p><b>E-mail Id:</b> drchandrucse@gmail.com</p>
              <p><b>Date of Joining:</b> 27.05.2002</p>

            </div>
              <a class="btn btn-info" id="more-details" href="./assets/chandrasekar.pdf" target="_blank">More Details</a>
            </div>

        </div>
      </div>
    </div>

  </div>
</section>

  <section id="modal-open2" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content 2-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">Faculty Details</h3>
        </div>
        <div class="modal-body text-center">
          <div class="row margin-modal-20 text-center">
            <div class="col-md-4">
              <img src="./assets/02.png" class="img-responsive img-rounded center-modal-photo"/>
            </div>
            <div class="col-md-8">
              <h2>Dr. P. MUTHUCHELVI</h2>
              <h5 class="text-muted">Professor<br>M.E., Ph. D</h5>
              <div class="margin-modal-20">

              <p><b>E-mail Id:</b> notfound@gmail.com</p>
              <p><b>Date of Joining:</b> 27.05.2002</p>

            </div>
              <a class="btn btn-info" id="more-details" href="./assets/chandrasekar.pdf" target="_blank">More Details</a>
            </div>

        </div>
      </div>
    </div>

  </div>
</section>
