#footer-section
{
  padding: 10px;
  background: #101010;
  font-family: 'Raleway',sans-serif;
  color: #e1e1e1;
  margin-top: 100px;
}
#author
{
  color: #777;
  text-decoration: none;
}
#author:hover
{
  color: #e76137;
}
.fix
{
  margin: 0 auto;
}
