#footer-section
{
  padding: 20px;
  background: #101010;
  font-family: 'Raleway',sans-serif;
  color: #e1e1e1;
}
#author
{
  color: #777;
  text-decoration: none;
}
#author:hover
{
  color: #e76137;
}
