<nav class="navbar navbar-default navbar-custom2 navbar-fixed-top">
               <button type="button" id="navbarToggle" class="glyph-pad navbar-toggle collapsed btn-lg" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

                  <span class="fa fa-bars" aria-hidden="true" style="color:black;"></span>

                  </button>
              <div class="container">
                  <div class="navbar-header navbar-titles">
                      <a href="/" class="navbar-brand hidden-xs"><span><img src="./assets/logo.png" width="50px"> Computer Science &amp; Engineering</span></a>
                  </div>
                   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav navbar-right">
                          <li id="home" class="text-center"><a scrollTo="target" routerLink="/">HOME</a></li>
                          <li id="about-us" class="text-center"><a scrollTo="target" routerLink="/about-us">ABOUT US</a></li>
                          <li id="about-us" class="text-center"><a scrollTo="target" routerLink="/laboratory">LABORATORY</a></li>
                          <li id="about-us" class="text-center"><a scrollTo="target" routerLink="/faculty">FACULTY</a></li>
                          <li id="about-us" class="text-center"><a scrollTo="target" routerLink="/students">STUDENTS</a></li>
                          <li id="about-us" class="text-center"><a scrollTo="target" routerLink="/gallery">GALLERY</a></li>
                          <li id="about-us" class="text-center"><a scrollTo="target" routerLink="/contact-us">CONTACT US</a></li>

                      </ul>
                  </div>
              </div>
          </nav>
          <header id="lab-back">
            <div class="container">
            <div class="jumbotron">
            <h1>Laboratory</h1>
            </div>
          </div>
          </header>
<section>
  <article id="labDetails">
    <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2 class="text-center vcenter">Workstations</h2>
      </div>
      <div class="col-md-8 text-muted">
        <div class="row">
          <div class="col-md-6">
        <h4>HP Pro Desk 400<br>
HP Prodesk 400 G1 SFF,Intel Corei5-4570S,8GB<br>
DDR3 RAM,500GB Hard Disk, 18.5" LED<br>
Monitor,HP USB Keyboard and Laser Mouse</h4><br>
</div>
<div class="col-md-6">
  <h1 class="text-center text-info">150</h1>
</div>

</div>
<div class="row">
  <div class="col-md-6">
<h4>HP PRO3330,<br>
HP Pro3330 MTPC,Intel Corei3-2120<br>
Processor.4GB RAM,500GB SATA Hard<br>
Disk,18.5" LED Monitor,HP USB Keyboard and Laser Mouse</h4><br>
</div>
<div class="col-md-6">
<h1 class="text-center text-info">5</h1>
</div>

</div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h2 class="text-center">Servers</h2>
      </div>
      <div class="col-md-8 text-muted">
        <div class="row">
          <div class="col-md-6">
        <h4>IBM Server X3650<br>
IBM Server X3650 ,Intel Xeon E5450(Quad Core),4GB RAM,300GB Hard Disk(1*300GB)<br>
Logitech Keyboard and Optical Mouse<br></h4>
</div>
<div class="col-md-6">
  <h1 class="text-center text-info">1</h1>
</div>

</div>
<div class="row">
  <div class="col-md-6">
<h4>IBM Server X3620M3<br>
IBM Server X3650M3 ,Intel Xeon E5606,8GB RAM,300GB Hard Disk(2*300GB)<br>
Logitech Keyboard and Optical Mouse</h4><br>
</div>
<div class="col-md-6">
<h1 class="text-center text-info">1</h1>
</div>

</div>

<div class="row">
  <div class="col-md-6">
<h4>Intel Xeon 2*2.8 GHZ Dual Processor<br>
4GB RAM,80 GB Hard Disk Drive<br>
1.44 MB Floppy Disk Drive<br>
110 Key Board, Optical Scroll Mouse,15" Colour Monitor</h4><br>
</div>
<div class="col-md-6">
<h1 class="text-center text-info">2</h1>
</div>

</div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h2 class="text-center">Printers</h2>
      </div>
      <div class="col-md-8 text-muted">
        <div class="row">
          <div class="col-md-6">
        <h4>IBM Server X3650<br>
IBM Server X3650 ,Intel Xeon E5450(Quad Core),4GB RAM,300GB Hard Disk(1*300GB)<br>
Logitech Keyboard and Optical Mouse<br></h4>
</div>
<div class="col-md-6">
  <h1 class="text-center text-info">1</h1>
</div>

</div>
<div class="row">
  <div class="col-md-6">
<h4>IBM Server X3620M3<br>
IBM Server X3650M3 ,Intel Xeon E5606,8GB RAM,300GB Hard Disk(2*300GB)<br>
Logitech Keyboard and Optical Mouse</h4><br>
</div>
<div class="col-md-6">
<h1 class="text-center text-info">1</h1>
</div>

</div>

<div class="row">
  <div class="col-md-6">
<h4>Intel Xeon 2*2.8 GHZ Dual Processor<br>
4GB RAM,80 GB Hard Disk Drive<br>
1.44 MB Floppy Disk Drive<br>
110 Key Board, Optical Scroll Mouse,15" Colour Monitor</h4><br>
</div>
<div class="col-md-6">
<h1 class="text-center text-info">2</h1>
</div>

</div>
      </div>
    </div>
  </div>
  </article>
</section>
