<header id="about-back">
  <div class="container">
    <div class="jumbotron">
      <h1>Faculty Mentors</h1>
    </div>
  </div>
</header>
<section>
  <article id="faculty-mentors" class="container">

    <div class="table-responsive">
      <h4><b>Chair Person</b> : Dr.A CHANDRASEKAR</h4>
    <table class="table table-bordered table-striped">
      <tr>
        <th>S. No</th>
        <th>Staff Name</th>
        <th>Designation</th>
        <th>Class</th>
      </tr>
      <tr>
        <td>1.</td>
        <td>Dr. M. ANURADHA</td>
        <td>Associate Professor</td>
        <td rowspan="3">IV - A</td>
      </tr>
      <tr>
        <td>2.</td>
        <td>Dr. J. JEAN JUSTUS</td>
        <td>Associate Professor</td>

      </tr>
      <tr>
        <td>3.</td>
        <td>Mr.R. RANJITH</td>
        <td>Assistant Professor</td>
      </tr>
      <tr>
        <td>4.</td>
        <td>Mr.K. BALAJI</td>
        <td>Assistant Professor</td>
        <td rowspan="3">IV - B</td>
      </tr>
      <tr>
        <td>5.</td>
        <td>Mr.N. MANIKANDAN</td>
        <td>Assistant Professor</td>

      </tr>
      <tr>
        <td>6.</td>
        <td>Mr.S. VINU</td>
        <td>Assistant Professor</td>
      </tr>
      <tr>
        <td>7.</td>
        <td>Dr. S. JOTHI</td>
        <td>Associate Professor</td>
        <td rowspan="3">IV - C</td>
      </tr>
      <tr>
        <td>8.</td>
        <td>Ms.M. SHALINI</td>
        <td>Assistant Professor</td>

      </tr>
      <tr>
        <td>9.</td>
        <td>Ms.S. SHANTHINI</td>
        <td>Assistant Professor</td>
      </tr>
      <tr>
        <td>10.</td>
        <td>Dr. A. SHERYL OLIVER</td>
        <td>Associate Professor</td>
        <td rowspan="3">IV - D</td>
      </tr>
      <tr>
        <td>11.</td>
        <td>Ms. K. VIJAYALAKSHMI</td>
        <td>Assistant Professor</td>

      </tr>
      <tr>
        <td>12.</td>
        <td>Ms.G. SARANYA</td>
        <td>Assistant Professor</td>
      </tr>
    </table>
  </div>
    <div class="table-responsive">
      <h4><b>Chair Person</b> : Dr. G. MARIAKALAVATHY</h4>
    <table class="table table-bordered table-striped">
      <tr>
        <th>S. No</th>
        <th>Staff Name</th>
        <th>Designation</th>
        <th>Class</th>
      </tr>
      <tr>
        <td>1.</td>
        <td>Dr. J. RAMYA</td>
        <td>Associate Professor</td>
        <td rowspan="3">III - A</td>
      </tr>
      <tr>
        <td>2.</td>
        <td>Dr. N. ANGEL</td>
        <td>Associate Professor</td>

      </tr>
      <tr>
        <td>3.</td>
        <td>Ms.K. SUDHA</td>
        <td>Assistant Professor</td>
      </tr>
      <tr>
        <td>4.</td>
        <td>Dr. D. ROSY SALOMI
VICTORIA</td>
        <td>Associate Professor</td>
        <td rowspan="3">III - B</td>
      </tr>
      <tr>
        <td>5.</td>
        <td>Dr. R. HEMALATHA</td>
        <td>Associate Professor</td>

      </tr>
      <tr>
        <td>6.</td>
        <td>Dr. V. ANJANA DEVI</td>
        <td>Associate Professor</td>
      </tr>
      <tr>
        <td>7.</td>
        <td>Dr. G. MURUGESAN</td>
        <td>Professor</td>
        <td rowspan="3">III - C</td>
      </tr>
      <tr>
        <td>8.</td>
        <td>Mr.A. PRABHU
CHAKKARAVARTHY</td>
        <td>Assistant Professor</td>

      </tr>
      <tr>
        <td>9.</td>
        <td>Mr.P. VARUN</td>
        <td>Assistant Professor</td>
      </tr>
      <tr>
        <td>10.</td>
        <td>Dr. J.T. ANITA ROSE</td>
        <td>Associate Professor</td>
        <td rowspan="3">III - D</td>
      </tr>
      <tr>
        <td>11.</td>
        <td>Dr. F. SANGEETHA
FRANCELIN VINNARASI</td>
        <td>Associate Professor</td>

      </tr>
      <tr>
        <td>12.</td>
        <td>Dr. JESLINE</td>
        <td>Associate Professor</td>
      </tr>
    </table>
  </div>
    <div class="table-responsive">
      <h4><b>Chair Person</b> : Dr. R. PUGALENTHI</h4>
    <table class="table table-bordered table-striped">
      <tr>
        <th>S. No</th>
        <th>Staff Name</th>
        <th>Designation</th>
        <th>Class</th>
      </tr>
      <tr>
        <td>1.</td>
        <td>Mr. P. NAVEEN</td>
        <td>Assistant Professor</td>
        <td rowspan="3">II - A</td>
      </tr>
      <tr>
        <td>2.</td>
        <td>Ms. E. NIVEDHA</td>
        <td>Assistant Professor</td>

      </tr>
      <tr>
        <td>3.</td>
        <td>Ms. JENIF D SOUZA WS</td>
        <td>Assistant Professor</td>
      </tr>
      <tr>
        <td>4.</td>
        <td>Ms. A. AJOE SWEETLIN
JEENA</td>
        <td>Assistant Professor</td>
        <td rowspan="3">II - B</td>
      </tr>
      <tr>
        <td>5.</td>
        <td>Ms.P.N. JEIPRATHA</td>
        <td>Assistant Professor</td>

      </tr>
      <tr>
        <td>6.</td>
        <td>Ms.K. SHARMILA</td>
        <td>Assistant Professor</td>
      </tr>
      <tr>
        <td>7.</td>
        <td>Ms.J.M. KAVITHA</td>
        <td>Assistant Professor</td>
        <td rowspan="2">II - C</td>
      </tr>
      <tr>
        <td>8.</td>
        <td>Dr.K PARKAVI</td>
        <td>Assistant Professor</td>

      </tr>
      <tr>
        <td>9.</td>
        <td>Ms. S. MONICA</td>
        <td>Assistant Professor</td>
        <td rowspan="3">II - D</td>
      </tr>
      <tr>
        <td>10.</td>
        <td>Ms. S JANANI</td>
        <td>Assistant Professor</td>

      </tr>
      <tr>
        <td>11.</td>
        <td>Ms. A.P NARMADHA</td>
        <td>Assistant Professor</td>
      </tr>
    </table>
  </div>
    <div class="table-responsive">
      <h4><b>Chair Person</b> : Dr. P. MUTHUCHELVI</h4>
    <table class="table table-bordered table-striped">
      <tr>
        <th>S. No</th>
        <th>Staff Name</th>
        <th>Qualification</th>
        <th>Designation</th>
        <th>Class</th>
      </tr>
      <tr>
        <td>1.</td>
        <td>Ms. D. MANOHARI</td>
        <td>M.E., (Ph. D)</td>
        <td>Assistant Professor</td>
        <td rowspan="3">M.E</td>
      </tr>
      <tr>
        <td>2.</td>
        <td>Ms. C.SHANMUGA PRIYA</td>
        <td>M.E</td>
        <td>Assistant Professor</td>

      </tr>
      <tr>
        <td>3.</td>
        <td>Ms. V.LINNET PRINCY
JUSTINA</td>
        <td>M.E</td>
        <td>Assistant Professor</td>

      </tr>
    </table>
  </div>
    <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <tr>
        <th>S. No</th>
        <th>Staff Name</th>
        <th>Qualification</th>
        <th>Designation</th>
        <th>Heads</th>
      </tr>
      <tr>
        <td>1.</td>
        <td>Dr. M. P RAJAKUMAR</td>
        <td>M.E., Ph. D</td>
        <td>Professor</td>
        <td>Exam</td>
      </tr>
      <tr>
        <td>2.</td>
        <td>Dr. B. DIWAN</td>
        <td>M.E., Ph. D</td>
        <td>Associate Professor</td>
        <td>Placement</td>
      </tr>
      <tr>
        <td>3.</td>
        <td>Mr.K. RAJAGANESH</td>
        <td>M.E</td>
        <td>Assistant Professor</td>
        <td>Hostel</td>
      </tr>
    </table>
  </div>
  </article>
</section>
