<nav class="navbar navbar-default navbar-custom2 navbar-fixed-top">
               <button type="button" id="navbarToggle" class="glyph-pad navbar-toggle collapsed btn-lg" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

                  <span class="fa fa-bars" aria-hidden="true" style="color:black;"></span>

                  </button>
              <div class="container">
                  <div class="navbar-header navbar-titles">
                    <a href="/" class="navbar-brand hidden-sm hidden-md hidden-lg"><span><img class="logo" src="./assets/logo.png" width="50px"> Computer Science</span></a>
                      <a href="/" class="navbar-brand hidden-xs"><span><img src="./assets/logo.png" width="70px"> Computer Science &amp; Engineering</span></a>
                  </div>
                   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav navbar-right">
                          <li id="home" class="text-center"><a scrollTo="target" routerLink="/">HOME</a></li>
                          <li id="about-us" class="text-center"><a scrollTo="target" routerLink="/about-us">ABOUT US</a></li>
                          <li id="about-us" class="text-center"><a scrollTo="target" routerLink="/laboratory">LABORATORY</a></li>
                          <li id="about-us" class="text-center"><a scrollTo="target" routerLink="/faculty">FACULTY</a></li>
                          <li id="about-us" class="text-center"><a scrollTo="target" routerLink="/students">ACADEMICS</a></li>
                          <li id="about-us" class="text-center"><a scrollTo="target" routerLink="/gallery">GALLERY</a></li>
                          <li id="about-us" class="text-center"><a scrollTo="target" routerLink="/contact-us">CONTACT US</a></li>

                      </ul>
                  </div>
              </div>
          </nav>
          <header id="student-back">
            <div class="container">
            <div class="jumbotron">
            <h1>Academics</h1>
            </div>
          </div>
          </header>
