<header>
          <div class="jumbotron container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class=" animated zoomIn" id="title">Providing the best in Computer Education since 1995</h1>
              <button class="btn btn-danger animated zoomIn" id="button1" scrollTo="target">Get Started</button>

                </div>
            </div>

          </div>


</header>
<article id="fives">
    <div class="container-fluid">

        <h1 class="text-center justify">We are a part of St. Joseph's College of Engineering</h1>
        <h4 class="text-center">We provide the best computer science &amp; engineering education in town.</h4>

        <div class="row " id="firstSec">
          <div class="col-md-2 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-12 pads">
            <img class="img-responsive fix" src="./assets/vision.png">
            <h4 class="text-center justify">Our Vision</h4>
            <p class="text-center">What we always have in mind!</p>
          </div>
          <div class="col-md-2 col-xs-12 col-sm-3 pads">
            <img class="img-responsive fix" src="./assets/mission.png">
            <h4 class="text-center justify">Our Mission</h4>
            <p class="text-center">What we strive to achieve!</p>
          </div>
          <div class="col-md-2 col-xs-12 col-sm-3 pads">
            <img class="img-responsive fix" src="./assets/objectives.png">
            <h4 class="text-center justify">Program Educational Objectives (PEOs)</h4>
            <p class="text-center">Our education strategy!</p>
          </div>
          <div class="col-md-2 col-xs-12 col-sm-3 col-sm-offset-1 col-md-offset-0 pads">
            <img class="img-responsive fix" src="./assets/program-outcomes.png">
            <h4 class="text-center justify">Program Outcomes (POs)</h4>
            <p class="text-center">What you will learn!</p>
          </div>
          <div class="col-md-2 col-xs-12 col-sm-3 pads">
            <img class="img-responsive fix" src="./assets/program-specific.png">
            <h4 class="text-center justify">Program Specific Outcomes (PSOs)</h4>
            <p class="text-center">What you will be capable of doing!</p>
          </div>

        </div>
    </div>
</article>
<article id="exp">
<h1 class="text-center">More than 2 decades of Excellence</h1>
<div class="row margs">
<div class="col-md-4">
  <img class="img-responsive fix" src="./assets/mt.png">
  <h1 class="text-center">100%</h1>
  <h4 class="text-center">Placements</h4>
</div>
<div class="col-md-4">
  <img class="img-responsive fix" src="./assets/mt2.png">
  <h1 class="text-center">1:10</h1>
<h4 class="text-center">Teacher to Student Ratio</h4>
</div>
<div class="col-md-4">
  <img class="img-responsive fix" src="./assets/mt3.png">
  <h1 class="text-center">250</h1>
  <h4 class="text-center">High performance workstations</h4>
</div>
</div>

</article>
