<header>
          <div class="jumbotron container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class=" animated zoomIn" id="title">Providing the best in Computer Education since 1995</h1>
              <button class="btn btn-danger animated zoomIn" id="button1" scrollTo="target">Get Started</button>

                </div>
            </div>

          </div>


</header>
<article>
    <div class="container">
        
        <h1 class="text-center">We are a part of St. Joseph's College of Engineering</h1>
        
    </div>
</article>